name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version-file: '.node-version'
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
    - name: Install dependencies
      run: script/bootstrap
    - name: Run tests
      run: script/test
    - name: Create zatfile
      run: |
        cp .zat.example .zat
    - name: Run build
      run: script/build
